{% if page.enable_efficient %}
<div id="particles-mobile" style="display: block; background-image: url('https://github.com/arialhamed/static/blob/main/images/efficiency-bg.png?raw=true') !important; background-attachment: fixed !important; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; position: fixed;"></div>
{% else %}
<div id="particles-js"></div>
<div id="particles-mobile" style="display: none; background-image: url('https://github.com/arialhamed/static/blob/main/images/efficiency-bg.png?raw=true') !important; background-attachment: fixed !important; width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; position: fixed;"></div>
{% endif %}
<div id="header-wrap" class="outer footer-foot">
    <header class="inner" style="padding: 40px 0 0 0 !important;">
        <table style="border: 0 !important; width: 100%;">
            <tbody>
                <tr>
                    <td style="padding: 0 10px;">
                        <span id="site-hair" style="float: left;">
                            <h1 id="project-title" class="disable-selection"><a href="https://arialhamed.github.io/" style="text-decoration: none; color: white;">{{ site.title | default: "arialhamed.github.io" }}</a></h1>
                            <h2 id="project-tagline" style="padding-bottom:0;">{{ site.description | default: site.github.project-tagline }}</h2>
                        </span>
                    </td>
                    <td style="padding: 0 10px;">
                        <span style="float: right;">
                            <a id="github_redirect" href="https://github.com/arialhamed" style="text-decoration: none;">
                                <figure>
                                    <img src="https://github.com/arialhamed.png?size=42px" style="box-shadow: none; -webkit-box-shadow: none;">
                                    <figcaption style="color:white;text-decoration:none;">GitHub</figcaption>
                                </figure>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
</div> 

