<div id="header-wrap" class="outer footer-foot">
    <header class="inner" style="padding: 40px 0 0 0 !important;">
        <table style="border: 0 !important; width: 100%;">
            <tbody>
                <tr>
                    <td style="padding: 0 10px;">
                        <span id="site-hair" style="float: left;">
                            <h1 id="project-title" class="disable-selection"><a href="https://arialhamed.github.io/" style="text-decoration: none; color: white;">{{ site.title | default: "arialhamed.github.io" }}</a></h1>
                            <h2 id="project-tagline" style="padding-bottom:0;">{{ site.description | default: site.github.project-tagline }}</h2>
                        </span>
                    </td>
                    <td style="padding: 0 10px;">
                        <span style="float: right;">
                            <a id="github-redirect" href="https://github.com/arialhamed" style="text-decoration: none;">
                                <figure>
                                    <img src="https://github.com/arialhamed.png?size=200px">
                                    <figcaption>GitHub</figcaption>
                                </figure>
                            </a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </header>
</div> 

