<div id="header-wrap" class="outer footer-foot">
	<header>
		<!-- <table id="header-table">
			<tbody>
				<tr>
					<td>
						<span id="site-hair">
							<h1 id="project-title" class="disable-selection"><a href="https://arialhamed.github.io/">arialhamed.github.io</a></h1>
							<h2 id="project-tagline">ari's monochrome asylum.</h2>
						</span>
					</td>
					<td>
						<span style="float: right;">
							<a id="github-redirect" href="https://github.com/arialhamed">
								<figure>
									<img src="https://github.com/arialhamed.png?size=200px">
									<figcaption>GitHub</figcaption>
								</figure>
							</a>
						</span>
					</td>
				</tr>
			</tbody>
		</table> -->
		<!--{% unless page.disable_nav %}-->
		<nav id="navbar">
			<svg id="navribbon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="2em" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"></path></svg>
			<ul>
				<!-- HOME -->
				<li>
					<a class="nav-link" aria-current="page" href="/">
						<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="1em" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z" clip-rule="evenodd"/></svg>
						home
					</a>
				</li>
				<!-- ABOUT -->
				<li>
					<a class="nav-link" href="/about">about</a>
				</li>
				<!-- GUIDES -->
				<li>
					<a class="nav-link dropdown-toggle" id="navbarGuides" role="button" aria-expanded="false">
						guides
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarGuides">
						<li><a href="/guides/markdown">markdown</a></li>
						<li><a href="/guides/git">git</a></li>
						<li><a href="/guides/android-debug-bridge">android debug</a></li>
						<li><a href="/guides/screen-recording">android record</a></li>
						<li><a href="/guides/webdev-tips">webdev tips</a></li>
						<li><a href="/guides/comments">comments</a></li>
						<li><a href="/guides/media-tips">media tips</a></li>
						<li><a href="/guides/ubuntu-setup">ubuntu setup</a></li>
						<li><a href="/guides/debian-setup">debian setup</a></li>
						<li><a href="/guides/thinkpad">thinkpad tips</a></li>
						<li><a href="/guides/overpowered-android-gaming">op android gaming</a></li>
						<li><a href="/guides/bcache-ubuntu">ubuntu bcache</a></li>
					</ul>
				</li>
				<!-- BLOGS -->
				<li>
					<a class="nav-link dropdown-toggle" id="navbarBlogs" role="button" aria-expanded="false">
						blogs
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarBlogs">
						<li><a href="/blogs/reviews">product reviews</a></li>
						<li><a href="/blogs/upgrades">upgrades</a></li>
						<!-- <li><a href="/blogs/if-i-had-a-3d-printer">if i had a 3d printer</a></li> -->
						<!-- <li><a href="/blogs/needlework">needlework</a></li> -->
					</ul>
				</li>
				<!-- RESOURCES -->
				<li>
					<a class="nav-link dropdown-toggle" class="nav-link active dropdown-toggle" id="navbarResources" role="button" aria-expanded="false">
						resources
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarResources">
						<li><a href="/resources/explore-my-repos/">explore my repos</a></li>
						<li><a href="/resources/automation">automation</a></li>
						<li><a href="/resources/emulator">emulator</a></li>
						<li><a href="/resources/chatgpt">chatgpt responses</a></li>
						<li><a href="/resources/markdown-live-preview">md preview</a></li>
						<li><a href="/resources/logitech-unifying-catalog">logitech unifying catalog</a></li>
						<li><a href="/resources/expresscard">expresscard</a></li>
						<!-- <li><a href="/resources/thinkpad-records">thinkpad-records</a></li> -->
					</ul>
				</li>
				<!-- GAMES -->
				<!-- <li>
					<a class="nav-link dropdown-toggle" id="navbarGames" role="button" aria-expanded="false">
						games
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarGames">
						<li><a href="/games/wordle">wordle</a></li>
						<li><a href="/games/sudoku">sudoku</a></li>
						<li><a href="/games/minesweeper">minesweeper</a></li>
					</ul>
				</li> -->
				<!-- TOOLS -->
				<li>
					<a class="nav-link dropdown-toggle" id="navbarTools" role="button" aria-expanded="false">
						tools
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarTools">
						<li><a href="/tools/srihash">srihash</a></li>
						<li><a href="/tools/jscompress">jscompress</a></li>
						<li><a href="/tools/html-to-escape">html to escape</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<!--{% endunless %}-->
	</header>
</div>
