<link rel="stylesheet" href="https://arialhamed.github.io/static/css/bootstrap/bootstrap.min.css">
<script src="https://arialhamed.github.io/static/js/bootstrap/jquery.min.js"></script>
<script src="https://arialhamed.github.io/static/js/bootstrap/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% unless page.enable_efficient %}
<script src="https://arialhamed.github.io/static/js/particles.min.js"></script>
{% endunless %}

{% if page.prism %}
<link href="https://unpkg.com/prismjs/themes/prism-tomorrow.min.css" rel="stylesheet" />
<link href="https://unpkg.com/prismjs/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
<link href="https://unpkg.com/prismjs/plugins/match-braces/prism-match-braces.min.css" rel="stylesheet" />
<link href="https://unpkg.com/prismjs/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
<style>
.language-plaintext {
    background-color: #333 !important;
    mix-blend-mode: difference;
}
</style>
{% endif %}

{% if page.modelviewer %}
<script src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
{% endif %}

{% if page.music %}
<link rel="stylesheet" href="style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
{% endif %}

<!-- <script src="https://arialhamed.github.io/static/js/font-awesome.js" integrity="sha512-Mizub3M5oexqKMz/zqTjVpAMAQN/URWJVT6FnZGrMTDJRRfexw/K6KoKzDWGzF53rtHw47KHMbGRqcgcEYEnhQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://arialhamed.github.io/static/css/fontawesome.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous"> -->
<!-- <script src="https://kit.fontawesome.com/b4f90f62b6.js" crossorigin="anonymous"></script> -->
<!-- <script src="https://use.fontawesome.com/bbe9e06a16.js"></script> -->

<!-- <link rel="stylesheet" type="text/css" href="https://arialhamed.github.io/static/css/site.css"> -->
<!-- <script src="https://arialhamed.github.io/static/js/site.js"></script> -->
<script>
    const cipher=b=>{var c=a=>a.split("").map(a=>a.charCodeAt(0)),d=a=>("0"+(+a).toString(16)).substr(-2),a=a=>c(b).reduce((a,b)=>a^b,a);return b=>b.split("").map(c).map(a).map(d).join("")},decipher=a=>{var b=b=>(()=>a.split("").map(a=>a.charCodeAt(0)))().reduce((a,b)=>a^b,b);return a=>a.match(/.{1,2}/g).map(a=>parseInt(a,16)).map(b).map(a=>String.fromCharCode(a)).join("")};
    function slugify(e){return String(e).normalize("NFKD").replace(/[\u0300-\u036f]/g,"").trim().toLowerCase().replace(/[^a-z0-9 -]/g,"").replace(/\s+/g,"-").replace(/-+/g,"-")}
    function formatBytes(a,b=2){if(0===a)return"0 bytes";const c=Math.floor(Math.log(a)/Math.log(1024));return parseFloat((a/Math.pow(1024,c)).toFixed(b))+" "+["bytes","KB","MB","GB","TB","PB","EB","ZB","YB"][c]}
    $(document).ready(function(){$("a").on("click",function(o){var t;""!==this.hash&&(o.preventDefault(),t=this.hash,$("html, body").animate({scrollTop:$(t).offset().top},800,function(){window.location.hash=t}))})});

    const all_imgs = document.getElementsByTagName("img");
    for (var i = 0; i < all_imgs.length; i++) document.getElementsByTagName("img")[i].setAttribute("onerror", 'this.src="https://github.com/arialhamed/static/raw/main/images/missing.jpeg";');

    function unlock() {
        if (document.getElementById("password-input").value === decipher("blazelifeundaunted")("273636646f6a6a6f69685e") || document.getElementById("password-input").value === decipher("blazelifeundaunted")("3234303e333f")) {
            document.getElementById("truth").style.display = "block";
            const e = document.createElement("meta");
            e.setAttribute("http-equiv", "refresh"), e.setAttribute("content", "300"), document.getElementsByTagName("head")[0].appendChild(e), document.getElementById("password-input").value = "";
            const t = document.getElementById("password-input");
            t.parentNode.removeChild(t)
        }
    }

    connectCheck();
    async function connectCheck(){const a=await fetch("https://arialhamed.pythonanywhere.com/track"),b=await a.json();console.log("current site: "+b.site)}
</script>
<style>
    /* Built-in */
    :not(code *) :not(pre *) {font-family: "Arial" !important; letter-spacing: 0px !important} 
    pre {white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; box-shadow: none;}
    canvas {display: block}
    input:focus, textarea:focus{outline: none}
    input[type=search]::-webkit-search-cancel-button {-webkit-appearance: searchfield-cancel-button}
    audio::-webkit-media-controls-panel {background-color: #0000; color: #0000}
    footer a:hover {color: #888}
    h1, h2, h3, h4, h5, h6 {color: #EEE!important; }
    form, code {background-color: #fff1; }
    pre code {background-color: #fff; }
    figcaption {font-size: 70%; text-align: center; }
    video {max-width: 100%; height: auto; }
    img {padding: 0 !important; margin: 10px 0 0 0 !important; box-shadow: 0 0 0px #0000!important; -webkit-box-shadow: 0 0 0px #0000!important; -moz-box-shadow: 0 0 0px #0000!important; -o-box-shadow: 0 0 0px #0000!important; -ms-box-shadow: 0 0 0px #0000!important; border: none}
    nav {background-color:#fff1 !important}
    body {display: flex; min-height: 100vh; flex-direction: column}

    /* Jekyll */
    .inner {max-width: 800px !important; }
    #project_title a:hover {text-shadow: .1em .2em 3px rgb(0, 0, 0); }
    #main_content_wrap a:not(.nav-link, .dropdown-item) {color: rgba(200,200,255,.75) !important}
    #main_content_wrap a:not(.nav-link, .dropdown-item):hover {color: rgba(200,200,255,.55) !important}
    #main_content {padding-top: 15px!important; }
    #main_content_wrap {flex: 1; background: #202020!important; border-top: 1px solid #202020!important; border-bottom: 1px solid #202020!important; color: #DDD!important}
    #header_wrap, #footer_wrap {background: #202020!important; }

    /* back-to-top fragment */
    #back-to-top:hover {background: #444}

    /* Comment CSS start */
    .comments {border-top: 0px dashed #fff6 !important}
    .comment-item {background-color: #fff2!important}
    #comment-form {background-color: transparent!important}
    .comment-reply-button img {visibility: hidden!important}
    #comment-comment, #comment-name {background-color: #fff2!important; color: white}
    #comment-submit {background-color: #36758888!important; color: white}

    /* Particles.js by Vincent Garreau */
    #particles-js {position: fixed; width: 100%; height: 100%; background-color: #20202000; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%}

    /* Socials fragment */
    .social-bar {position: fixed; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%)}
    .social-bar a {display: block; text-align: center; padding: 16px; transition: all 0.3s ease; color: white; font-size: 20px; background: #333}
    .social-bar a:hover {background-color: #111;}
    .social-bar a i {color: white; background: white}
    .android-icon {background-repeat: no-repeat; background-size: cover; width: 100%; height: 100%; margin-left: auto}
    .android-caption {background-repeat: no-repeat; background-size: fill; margin-right: auto}

    /* bootstrap */
    .btn.disabled, .btn:disabled, fieldset:disabled .btn {pointer-events: none; opacity: .35}
    .btn-outline-dark {background-color: #fff1 !important}
    .carousel-caption {background: rgba(0, 0, 0, 0.5)}
    .accordion-head {background: none}
    .accordion-item {background-color: #0000!important; border: 1px solid #0000!important}
    .accordion-button {background-color: #fff1 !important; color: rgba(255,255,255,.55)!important}
    .accordion-button:not(.collapsed) {color: rgba(255,255,255,.55)!important}
    .accordion-button:not(.collapsed)::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eeeeee'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important}
    .accordion-button::after {background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eeeeee'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important}
    .accordion-button:focus {border-color: #0000!important; box-shadow: 0 0 0 0px #0000!important}
    .accordion-header {background: none}
    .dropdown-menu {background-color: #333!important; border: 1px solid #999!important}
    .dropdown-item {color: rgba(255,255,255,.75) !important}
    .dropdown-item:focus, .dropdown-item:hover {background-color: #888 !important}
    .navbar-toggler:focus {box-shadow: none}
    .captioned-container {position: relative; max-width: 800px; margin: 0 auto}
    .captioned-container .content {position: absolute; bottom: 0; background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.5); color: #f1f1f1 !important; width: 100%; padding: 20px}
    .active-dropdown {color: #1e2125; background-color: #e9ecef}
    .caption-middle {position: absolute; bottom: 5%; left: 50%; transform: translate(-50%, -50%)}

    /* Testing */
    /*.nav-link:hover + .dropdown-menu {
        display: block;
    }*/
    .dropdown-submenu {position: relative}
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
        display: none;
    } /* firefox compatible otw */


    /* Custom */
    .page-navigation {font-size: 14px; display: block; width: auto; overflow: hidden}
    .page-navigation a {display: block; width: 50%; float: left; margin: 1em 0; font-size: 80%}
    .timestamp, timestamp {color: #f2f2f2; background-color: #333; border-color: #333; border-width: medium; border-style: solid; border-radius: 100px; padding: 0px 10px 0px 10px}
    .project{margin-bottom: 2rem; border-color: #333; border-style: solid; border-width: medium; border-radius: 1rem}
    .uwu:hover{background-image: linear-gradient(90deg, #5BCFFA 20%, #F5ABB9 20% 40%, white 40% 60%, #F5ABB9 60% 80%, #5BCFFA 80% 100%); background-size: 100%; background-clip: text; -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent}
    .disable-selection {-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none}
    .highlight {mix-blend-mode: difference}
    .text-secret{
        width: 100%!important;
        text-align: center!important;
        background-color:#0000;
        border:0px;
        cursor:default;

        display: block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ddd;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    .wide-responsive {
        position: relative;
        width: 98vw;
        left: max(-40%, calc(50% - 49vw + .75rem));
        max-width: 180%;
        margin-left: -.75rem;
        /* regarding this margin-left, it's about browse-display. check it */
        font-size: 75%; /*for some reason, this doesn't affect browse-content cells, as is great actly*/
    }

    /* MOBILE STYLE */
    @media only screen and (max-width: 578px) {
        #footer_wrap footer p {float: unset !important}
        #particles-js, canvas.particles-js-canvas-el, #github_redirect {display: none !important}
        #particles-mobile {display: block !important}
        #site-hair {text-align: center; float: none !important}
        /*pre[class*="language-"].line-numbers {
            padding-left: 2.3em !important;
        }*/
    }
</style>
