<link rel="stylesheet" href="https://arialhamed.github.io/static/css/bootstrap/bootstrap.min.css">
<script src="https://arialhamed.github.io/static/js/bootstrap/jquery.min.js"></script>
<script src="https://arialhamed.github.io/static/js/bootstrap/bootstrap.min.js"></script>

{% unless page.enable_efficient %}
<script src="https://arialhamed.github.io/static/js/particles.min.js"></script>
{% endunless %}

{% if page.prism %}
<link href="https://unpkg.com/prismjs@1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
<link href="https://unpkg.com/prismjs@1.29.0/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet" />
{% endif %}

<!-- <script src="https://arialhamed.github.io/static/js/font-awesome.js" integrity="sha512-Mizub3M5oexqKMz/zqTjVpAMAQN/URWJVT6FnZGrMTDJRRfexw/K6KoKzDWGzF53rtHw47KHMbGRqcgcEYEnhQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://arialhamed.github.io/static/css/fontawesome.css" integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg==" crossorigin="anonymous"> -->
<!-- <script src="https://kit.fontawesome.com/b4f90f62b6.js" crossorigin="anonymous"></script> -->
<script src="https://use.fontawesome.com/bbe9e06a16.js"></script>

<link rel="stylesheet" type="text/css" href="https://arialhamed.github.io/static/css/site.css">
<script src="https://arialhamed.github.io/static/js/site.js"></script>

