<style type="text/css">
	/* Navbar */
	a[href="/resources/explore-my-repos/"]{color:var(--anchor-color)!important;/*Color current anchor*/}
	.dropdown-toggle:has(+ ul > li > a[href="/resources/explore-my-repos/"]){color:var(--anchor-color)!important;/*Color current dropdown anchor*/}
	.dropdown-menu{
		display:none;/*Hide first*/
		position:absolute;/*Set to avoid displacement of root nav*/
		margin-left:100%;/*Override default margin decided by ul tag*/
		margin-top:-2.65em;/*Move up first item to same line as clicked*/
	}
	.dropdown-toggle::after{
		/* display: inline-block; */
		content:"+";
		float:right;
		margin-right:1em
	}
	.dropdown-toggle:hover::after, li:has(.dropdown-menu:hover) > .dropdown-toggle::after{
		content:"−";/*Change this when hover over dropdown-toggle OR the ul next to it*/
	}
	#navbar{
		position:fixed;/*Keep navbar at where it is*/
		z-index:10;/*Keep navbar above everything else*/
		width:8em;
		margin-left:calc(50% - var(--inner-width) / 2 - 9em);
	}
	#navbar *{user-select:none;/*Disallow selecting of text*/}
	#navbar ul{/*Both main & dropdown menu*/
		list-style:none;/*Remove bullets*/
		background-color:var(--nav-overlay);
		border-radius:1em;
		padding:.5em;
		box-shadow: 0 0 1em black;
	}
	#navbar > ul{margin:0}
	#navbar li{padding:0;/*Readjust for missing bullets*/border-radius:.5em}
	#navbar li:hover{background-color:var(--overlay)}
	#navbar a{
		padding:.5em;
		display:block;
		width:calc(100% - 0em);/*This & above sets the width of each link to be equal to the list item*/
		color:var(--font-color)/*Apply only to anchors, not ar*/
	}
	#navribbon{
		position:absolute;
		left:calc(100% - 3em);/*Align to right side of nav, 3em from size + padding of ribbon*/
		cursor:pointer;
		color:transparent;
		z-index:-1;/*Avoid blocking anchor*/
	}
	#navribbon > svg{
		background-color:var(--nav-overlay);
		width:2em;
		height:2em;
		border-top-right-radius:1em;
		border-bottom-right-radius:1em;
		padding:.5em
	}
	.dropdown-toggle:hover + .dropdown-menu,.dropdown-menu:hover{
		display:block;/*Preserve dropdowns at any point when engaged*/
	}
	@media only screen and (max-width:1080px){
		#navbar{margin-left:-8em;/*Retract whole nav to side*/}
		#navbar:hover{
			margin-left:0;/*Show nav when any part of nav is engaged (including ribbon)*/
		}
		#navribbon{/*Show ribbon gloriously*/
			z-index:1;/*Bring to front*/
			left:100%;
			color:var(--font-color);
			/* box-shadow: 0 0 1em black; */
		}
		#navribbon:after{/*Box-shadow only to top, right & bottom of navribbon*/
			position:absolute;
			content:'';
			width:80%;
			height:3em;
			right:0;
			top:0;
			box-shadow:0 0 1em black;
			z-index:-1;
			border-radius:1em;
			transition:box-shadow 0.3s ease-in 0s;/*Box-shadow will only appear when most of navribbon is not over nav*/
		}
		#navbar:hover #navribbon{left:calc(50% - 1.5em);/*Move navribbon to inside of nav*/}
		#navbar:hover #navribbon:after{
			box-shadow:none;
			transition:box-shadow 0.3s ease-out 0s;/*Box-shadow disappears early*/
		}
		#navbar > ul{
			border-top-right-radius:0;/*Smoothen for ribbon at the top*/
			padding-top:3em;/*Give way for navribbon*/
		}
		#navbar:hover > ul{border-top-right-radius:1em;/*Smoothen for ribbon at the top*/}
		/* #navbar a{pointer-events:none} */
		/* #navbar:hover a{pointer-events:auto} */
	}
</style>
<nav id="navbar">
	<div id="navribbon"><svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="2em" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"></path></svg></div>
	<ul>
		<!-- HOME -->
		<li>
			<a class="nav-link" aria-current="page" href="/">
				<svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="1em" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M11.3 3.3a1 1 0 0 1 1.4 0l6 6 2 2a1 1 0 0 1-1.4 1.4l-.3-.3V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3c0 .6-.4 1-1 1H7a2 2 0 0 1-2-2v-6.6l-.3.3a1 1 0 0 1-1.4-1.4l2-2 6-6Z" clip-rule="evenodd"/></svg>
				home
			</a>
		</li>
		<!-- ABOUT -->
		<li>
			<a class="nav-link" href="/about">about</a>
		</li>
		<!-- GUIDES -->
		<li>
			<a class="nav-link dropdown-toggle" id="navbarGuides" role="button" aria-expanded="false">
				guides
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarGuides">
				<li><a href="/guides/markdown">markdown</a></li>
				<li><a href="/guides/git">git</a></li>
				<li><a href="/guides/android-debug-bridge">android debug</a></li>
				<li><a href="/guides/screen-recording">android record</a></li>
				<li><a href="/guides/webdev-tips">webdev tips</a></li>
				<li><a href="/guides/comments">comments</a></li>
				<li><a href="/guides/media-tips">media tips</a></li>
				<li><a href="/guides/ubuntu-setup">ubuntu setup</a></li>
				<li><a href="/guides/debian-setup">debian setup</a></li>
				<li><a href="/guides/thinkpad">thinkpad tips</a></li>
				<li><a href="/guides/overpowered-android-gaming">op android gaming</a></li>
				<li><a href="/guides/bcache-ubuntu">ubuntu bcache</a></li>
			</ul>
		</li>
		<!-- BLOGS -->
		<li>
			<a class="nav-link dropdown-toggle" id="navbarBlogs" role="button" aria-expanded="false">
				blogs
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarBlogs">
				<li><a href="/blogs/reviews">product reviews</a></li>
				<li><a href="/blogs/upgrades">upgrades</a></li>
				<!-- <li><a href="/blogs/if-i-had-a-3d-printer">if i had a 3d printer</a></li> -->
				<!-- <li><a href="/blogs/needlework">needlework</a></li> -->
			</ul>
		</li>
		<!-- RESOURCES -->
		<li>
			<a class="nav-link dropdown-toggle" class="nav-link active dropdown-toggle" id="navbarResources" role="button" aria-expanded="false">
				resources
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarResources">
				<li><a href="/resources/explore-my-repos/">explore my repos</a></li>
				<li><a href="/resources/automation">automation</a></li>
				<li><a href="/resources/emulator">emulator</a></li>
				<li><a href="/resources/chatgpt">chatgpt responses</a></li>
				<li><a href="/resources/markdown-live-preview">md preview</a></li>
				<li><a href="/resources/logitech-unifying-catalog">logitech unifying catalog</a></li>
				<li><a href="/resources/expresscard">expresscard</a></li>
				<!-- <li><a href="/resources/thinkpad-records">thinkpad-records</a></li> -->
			</ul>
		</li>
		<!-- GAMES -->
		<!-- <li>
			<a class="nav-link dropdown-toggle" id="navbarGames" role="button" aria-expanded="false">
				games
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarGames">
				<li><a href="/games/wordle">wordle</a></li>
				<li><a href="/games/sudoku">sudoku</a></li>
				<li><a href="/games/minesweeper">minesweeper</a></li>
			</ul>
		</li> -->
		<!-- TOOLS -->
		<li>
			<a class="nav-link dropdown-toggle" id="navbarTools" role="button" aria-expanded="false">
				tools
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarTools">
				<li><a href="/tools/srihash">srihash</a></li>
				<li><a href="/tools/jscompress">jscompress</a></li>
				<li><a href="/tools/html-to-escape">html to escape</a></li>
			</ul>
		</li>
	</ul>
</nav>