<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-US" }}'>
<head>
<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,maximum-scale=2">
{% include icon.html %}
{% include imports.html %}
{% seo %}
</head>
<body>
{% include header.html %}
<!--{% if page.browserOS %}-->
{{ content }}
<!--{% endif %}-->
<div id="main-content-wrap" class="outer" >
<!--{% unless page.disable_nav %}-->
{% include nav.html %}
<!--{% endunless %}-->
<section id="main-content" class="inner">
<br>
<!--{% unless page.browserOS %}-->
{{ content }}
<!--{% endunless %}-->
</section>
</div>
{% include footer.html %}
</body>
</html>
